.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #555;
    margin-bottom: 15px;
}
